.container {
  padding: 0 2rem;
}

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  text-align: center;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.post {
  margin: 25px;
  width: 700px;
  height: auto;
  cursor: pointer;
  text-align: center;
  max-width: calc(100vw - 50px);
}


